<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') -%>
  </head>
  <body class="container bg-light">
    <header><%- include('./partials/header') -%></header>
    <div class="container bg-light">
      <form method="post">
        <label for="category"> Category: </label>
        <div class="d-flex">
          <select class="form-select" name="category">
            <option value="">All</option>
            <% categories.forEach(function(category){ %>
            <option value="<%-category._id%>"><%= category.name %></option>
            <% }); %>
          </select>
          <button class="btn btn-success" type="submit">Confirm</button>
        </div>
      </form>
      <h2>Items:</h2>
      <%- include('./partials/itemDisplay', {items: items}); %>
    </div>
  </body>
</html>
